body{
    background-color: bisque;
}

div {
    /* background-color: rgb(201, 255, 243);
    border: 1px solid #f0f; */
}


.btn-info {
    background-color: #00ff04;
    
}
.btn-purple {
    background-color: #660b79;
  }