p {
    background-color: aqua;
}

img {
    width: 250px;
  }


.parrafo {
    background-color: red;
}

#parrrfao1{
    background-color: blue;
}


a {
    background-color: #f0b323;
    padding: 10px 20px;
    font-size: 20px;
    text-decoration: none;
    color: #886004;
    border-radius: 6px;
  }

  a:hover {
    background-color: #886004;
    color: #FFF;
  }